header {
    width: 100%;
    padding: 12px 140px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    img {
        width: 132px;
        height: 19px;
    }
    nav.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            color: #000000;
            margin-right: 40px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
        .button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            background: #3842b0;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

main {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section.first-section {
        width: 100%;
        background: #fff;
        display: flex;
        padding-left: 140px;
        .first-col {
            flex-grow: 1;
        }
        .second-col {
            flex-grow: 1;
            max-width: 722px;
        }
        .title {
            font-weight: bold;
            font-size: 60px;
            line-height: 71px;
            color: #3a42aa;
            margin-bottom: 20px;
        }
        .text {
            font-size: 22px;
            line-height: 32px;
            color: #000000;
            opacity: 0.8;
            margin-bottom: 32px;
            max-width: 440px;
        }
        .button {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            background: #f0dac5;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #3a42aa;
            margin-bottom: 160px;
        }
        .image {
            margin-bottom: 60px;
            width: 100%;
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }
    }

    section.second-section {
        width: 100%;
        background: #3a42aa;
        padding: 64px 0 80px 140px;
        color: #fff;
        .title {
            font-weight: bold;
            font-size: 60px;
            line-height: 71px;
            margin-bottom: 20px;
            span {
                color: #f0dac5;
            }
        }
        .col-row {
            display: flex;
            .first-col {
                max-width: 440px;
                .text {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 44px;
                    font-weight: 300;
                }
                .button {
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.3);
                    color: #ffffff;
                    border-radius: 60px;
                    border: none;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    padding: 14px 36px;
                    margin-bottom: 55px;
                    display: block;
                    font-weight: 300;
                }
            }
            .second-col {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    section.third-section {
        display: flex;
        padding: 72px 132px 72px 170px;
        background: #fff;
        .first-col {
            flex-grow: 1;
            padding: 42px;
            max-width: 742px;
        }
        .second-col {
            .title {
                font-weight: bold;
                font-size: 60px;
                line-height: 71px;
                color: #3a42aa;
                margin-top: 60px;
                margin-bottom: 20px;
            }
            .text {
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                opacity: 0.8;
                margin-bottom: 26px;
                max-width: 505px;
            }
            .list {
                padding: 0;
                margin: 0;
                margin-bottom: 44px;
                list-style-type: none;
                .list-item {
                    font-size: 18px;
                    line-height: 25px;
                    color: #3a42aa;
                    margin-bottom: 24px;
                    padding-left: 34px;
                    background: url("../../assets/landing/ListIcon.png") no-repeat;
                    background-position: 0px center;
                }
            }
            .button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px 32px;
                background: #f0dac5;
                border-radius: 8px;
                border: none;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                color: #3a42aa;
                cursor: pointer;
            }
        }
    }

    section.fourth-section {
        padding: 64px 165px;
        background: rgba(166, 176, 252, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 50px;
            line-height: 64px;
            text-align: center;
            color: #3a42aa;
            margin: 8px 0px;
            font-weight: bold;
        }
        .text {
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            opacity: 0.8;
            margin: 8px 0px;
            max-width: 665px;
        }
        .subtitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: rgba(24, 25, 31, 0.86);
            margin: 8px 0px;
        }
        .features-grid {
            margin-top: 48px;
            display: flex;
            flex-wrap: wrap;
        }
        .feature {
            flex-grow: 1;
            margin-bottom: 30px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 33%;
            min-width: 350px;
            @media all and (max-width: 1380px) {
                max-width: 50%;
            }
            @media all and (max-width: 1030px) {
                max-width: none;
            }
            .image {
                margin-bottom: 16px;
            }
        }
    }

    section.fifth-section {
        padding: 88px 165px 64px;
        .background {
            background: url(../../assets/landing/bg-mask.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 16px;
            padding: 48px 185px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .content {
                padding-left: 130px;
                .title {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 54px;
                    color: #ffffff;
                    margin-bottom: 32px;
                }

                .input-container {
                    display: flex;
                    .input {
                        padding: 14px 16px;
                        background: #f4f5f7;
                        border-radius: 5px 0px 0px 5px;
                        font-size: 14px;
                        line-height: 24px;
                        color: #474a57;
                        border: none;
                        outline: none;
                        min-width: 248px;
                    }
                    .button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 16px 24px;
                        background: #f0dac5;
                        border-radius: 0px 5px 5px 0px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        color: #3842b0;
                        text-align: center;
                        border: none;
                    }
                }
            }
        }
    }
}

footer {
    padding: 96px 166px 24px;
    background: #3842b0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 80px;
    column-gap: 60px;
    div {
        margin-bottom: 90px;
    }
    .logo {
        margin-bottom: 21px;
    }
    .icons {
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;
        align-items: center;
        .icon {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 100%;
            padding: 6px;
            cursor: pointer;
        }
    }
    .subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 24px;
    }
    .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #d9dbe1;
        margin-bottom: 12px;
        text-decoration: none;
        display: inline-block;
    }
    .bottom {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 80px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 0px;
        .text {
            margin-bottom: 0;
        }
        .links {
            display: flex;
            margin-bottom: 0px;
            .text {
                line-height: 14px;
                margin-left: 12px;
                padding-right: 8px;
                border-right: 1px solid #d9dbe1;
                margin-bottom: 0;
            }
            .text:last-of-type {
                border-right: none;
            }
        }
    }
}
