.auth-cmn-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .auth-cmn-subcontainer {
    width: 65%;
    background: #fff;
    border-radius: 15px;
    text-align: center;
  }
}

.auth-cmn-title {
  font-weight: bold;
  font-size: 24px;
  font-family: var(--font-gt-walsheim-pro);
}

.auth-cmn-subtitle {
  font-weight: normal;
  font-size: 16px;
  margin-top: 15px;
  font-family: var(--font-adineue-pro);
  color: #5a5d82;
}

.auth-cmn-btn {
  > button {
    font-family: var(--font-adineue-pro);
    background: #3842b0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid #3842b0;
    height: 60px;
  }
}

.auth-cmn-signin {
  font-size: 14px;
  font-family: var(--font-adineue-pro);
  color: #5a5d82;
  letter-spacing: 0.03em;

  > span {
    cursor: pointer;
    color: #3842b0;
    font-weight: bold;
    font-family: var(--font-adineue-pro);

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 991px) {
  .auth-cmn-main {
    > .auth-cmn-subcontainer {
      width: 100% !important;
    }
  }
}
