
@import url(//db.onlinewebfonts.com/c/f7afe66fe9d022d7dc7fd57e4adc078f?family=GT+Walsheim+Pro+Bold);
@import url(//db.onlinewebfonts.com/c/d4f20dfedfdf197ed0ac52b09bf25551?family=GT+Walsheim+Pro+Medium);
@import url(//db.onlinewebfonts.com/c/0abeb2471faeb5269db428b9eac2075e?family=GT+Walsheim+Pro+Regular);
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
@import url(//db.onlinewebfonts.com/c/8f8c0ea9057c136445baec4967501aa0?family=Museo+Sans+Rounded+700);
@import url(//db.onlinewebfonts.com/c/1938eca97ab5576ba37b537143f552ef?family=adineue+PRO);
@import url(//db.onlinewebfonts.com/c/b82329475307e0380dc1ea23f0c35266?family=adineue+PRO);


:root {
  --main-background: tomato;
  --font-adineue-pro: "adineue PRO";
  --font-gt-walsheim-pro: "GT Walsheim Pro";
  --font-museo-sans: "Museo Sans";
  --font-sf-pro-text: "SF Pro Text";
  --font-inter: "Inter";
}

* {
  letter-spacing: 0.04em;
}

.auth-main {
  background: url(./assets/img/background.png);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
