// @import url(http://db.onlinewebfonts.com/c/b82329475307e0380dc1ea23f0c35266?family=adineue + PRO);

:root {
  --main-background: tomato;
}

// * {
// font-family: adineue PRO;
// letter-spacing: 0.8px;
// }

.auth-main {
  background: url(./assets/img/background.png);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
